<template>
  <div class="d-flex justify-content-center py-5">
    <div class="card">
      <div class="card-body">
        <form @submit.prevent="login">
          <div class="alert alert-danger" role="alert" v-show="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="alert = false">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <p class="h4 text-center py-4">Sign in</p>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input class="form-control" required v-model="email" type="email" placeholder="Email" autofocus>
          </div>

          <br>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">P</span>
            </div>
            <input class="form-control" required v-model="password" type="password" placeholder="Password">
          </div>

          <div class="text-center py-4 mt-3">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import {AUTH_REQUEST} from '@/store/actions/auth'

export default {
  name: 'login',
  data () {
    return {
      email: '',
      password: '',
      alert: false,
      msg: ''
    }
  },
  methods: {
    login: function () {
      const {email, password} = this
      this.$store.dispatch(AUTH_REQUEST, {email, password})
        .then(() => {
          this.$router.push('/')
        })
        .catch((error) => {
          this.alert = true
          this.msg = error.msg
        })
    }
  }
}
</script>
