<template>
  <div class="container">
    <div class="row pb-5">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container justify-content-end">
          <div class="row">
            <div class="col-sm-12">
              <logout></logout>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="vld-parent">
      <loading :active.sync="isLoading" :is-full-page="true"></loading>
      <div class="row mt-4">
        <div class="col-sm-12 col-md-4" v-for="(collaborator, index) in collaborators" :key="index">
          <div class="card mb-4">
            <div class="card-body">
              <p><img :src="collaborator.picture.large" class="img-thumbnail img-circle" alt=""></p>
              <h4 class="card-title">{{ collaborator.name.title }} {{ collaborator.name.first }} {{ collaborator.name.last }}</h4>
              <p class="card-text">
                {{ collaborator.name.title }} {{ collaborator.name.first }} {{ collaborator.name.last }}
              </p>
            </div>
            <div>
              <hr>
            </div>
            <div class="card-body">
              <small class="text-muted">City</small>
              <h6>{{ collaborator.location.city }}</h6>
              <button v-b-modal.modal-1 class="btn btn-primary" @click="showProfile(collaborator)"><i class="fa fa-plus">+</i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4 justify-content-center">
        <nav aria-label="Pagination">
          <ul class="pagination">
            <li class="page-item" v-if="pagination._links.prev">
              <a class="page-link" href="#" @click.prevent="changePage(pagination._links.prev)">Previous</a>
            </li>
            <li class="page-item disabled" v-else>
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true" >Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#" @click.prevent="" v-if="pagination._meta.page">{{ pagination._meta.page }}</a></li>
            <li class="page-item" v-if="pagination._links.next">
              <a class="page-link" href="#" @click.prevent="changePage(pagination._links.next)">Next</a>
            </li>
            <li class="page-item disabled" v-else>
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <b-modal id="modal-1" title="Profile">
      <div class="row" v-if="user.picture">
        <div class="col-md-12 text-center">
          <img v-if="user.picture" :src="user.picture.large" class="img-thumbnail img-circle" alt="">
        </div>
      </div>
      <div class="row" v-if="user.name">
        <div class="col-md-4">
          <label>Name</label>
        </div>
        <div class="col-md-8">
          <h6>{{ user.name.title }} {{ user.name.first }} {{ user.name.last }}</h6>
        </div>
      </div>
      <div class="row" v-if="user.dob">
        <div class="col-md-4">
          <label>Age</label>
        </div>
        <div class="col-md-8">
          <h6>{{ user.dob.age }}</h6>
        </div>
      </div>
      <div class="row" v-if="user.gender">
        <div class="col-md-4">
          <label>Gender</label>
        </div>
        <div class="col-md-8">
          <h6>{{ user.gender }}</h6>
        </div>
      </div>
      <div class="row" v-if="user.email">
        <div class="col-md-4">
          <label>Email</label>
        </div>
        <div class="col-md-8">
          <h6>{{ user.email }}</h6>
        </div>
      </div>
      <div class="row" v-if="user.location">
        <div class="col-md-4">
          <label>Location</label>
        </div>
        <div class="col-md-8">
          <h6>{{ user.location.street.name }} {{ user.location.street.number }}, {{ user.location.city }}, {{ user.location.state }}</h6>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<style>
.img-circle {
  border-radius: 100%;
}
</style>

<script>
import axios from 'axios'
import Modal from '@/components/modal'
import Logout from '@/components/logout'
import {AUTH_LOGOUT} from '@/store/actions/auth'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'

export default {
  name: 'Collaborators',
  data () {
    return {
      collaborators: [],
      user: {},
      pagination: {
        _links: {},
        _meta: {}
      },
      isLoading: true
    }
  },
  components: {
    'modal-profile': Modal,
    'logout': Logout,
    'loading': Loading
  },
  methods: {
    getCollaborators (pageUrl) {
      this.isLoading = true
      const path = document.location.origin.split(':8080')[0] + ':5000' + pageUrl

      axios.defaults.headers.common['Authorization'] = localStorage.getItem('user-token')
      axios.get(path)
        .then((res) => {
          this.collaborators = res.data.collaborators
          this.pagination._links = res.data._links
          this.pagination._meta = res.data._meta
          this.isLoading = false
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.$store.dispatch(AUTH_LOGOUT).then(() => {
            this.$router.push('/login')
          })
        })
    },
    showProfile (user) {
      this.user = user
      this.$bvModal.show('modal-1')
    },
    changePage (pageUrl) {
      this.getCollaborators(pageUrl)
    }
  },
  created () {
    this.getCollaborators('/api/collaborators')
  }
}
</script>
