<template>
  <button class="btn btn-primary" @click.prevent="logout">Logout</button>
</template>

<script>
import {AUTH_LOGOUT} from '@/store/actions/auth'

export default {
  name: 'Logout',
  methods: {
    logout () {
      this.$store.dispatch(AUTH_LOGOUT)
        .then(() => {
          this.$router.push('/login')
        })
    }
  }
}
</script>
