<template>
  <div>
    <b-button v-b-modal="'modal-1'" class="btn btn-primary btn-sm"><i class="fa fa-plus">+</i></b-button>
    <b-modal id="modal-1" title="BootstrapVue">
      <p class="my-4">Hello from modal! {{ user.name.first }}</p>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'Modal',
  props: {
    value: {
      required: true
    },
    user: {
      required: true
    }
  },
  methods: {
    open () {

    }
  }
}
</script>
